article.forum, article.topic{
  .entry-content{
    padding: 0;
  }
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results{
  border: 0;
}

.bbp-breadcrumb{
  margin: 1em 1.3334em 0.3em;
}

div.bbp-template-notice.info{
  border-top: 1px solid #cee1ef;
  border-bottom: 1px solid #cee1ef;
  border-left: 0;
  border-right: 0;
}

div.bbp-template-notice, div.indicator-hint{
  border-radius: 0;
}

.bbp-search-form{
  margin: 8px 8px 0 0;
}

#bbpress-forums div.bbp-topic-tags{
  margin-right: 1.5em;
  float: right;
}
