li.home-menu, li.menu-item{ //default background-colour
  background-color: $home;
  &:hover{
    background-color: $home / 0.9;
  }
}

 li.primary-menu{
  background-color: $primary;
  &:hover{
    background-color: $primary / 0.9;
  }
  ul {
    background-color: $primary /0.9;
    li{
      &:hover{
        background: $primary;
      }
    }
  }
 }

 li.secondary-menu{
  background-color: $secondary;
  &:hover{
    background-color: $secondary / 0.9;
  }
  ul {
    background-color: $secondary /0.9;
    li{
      &:hover{
        background: $secondary;
      }
    }
  }
 }

 li.vocational-menu{
  background-color: $vocational;
  &:hover{
    background-color: $vocational / 0.9;
  }
  ul {
    background-color: $vocational /0.9;
    li{
      &:hover{
        background: $vocational;
      }
    }
  }
 }

 li.international-menu{
  background-color: $international;
  &:hover{
    background-color: $international / 0.9;
  }
  ul {
    background-color: $international /0.9;
    li{
      &:hover{
        background: $international;
      }
    } 
  }
 }

 li.theory-menu{
  background-color: $theory;
  &:hover{
    background-color: $theory / 0.9;
  }
  ul {
    background-color: $theory /0.9;
    li{
      &:hover{
        background: $theory;
      }
    } 
  }
 }




.main-navigation {
  background-color: transparent;
  padding: 0 0 0 2em;
  ul ul{
    font-family: $title-font-stack;
    li{
      border-top: 1px solid rgba(248, 248, 248, 0.1);
      border-bottom: none;
      a{
        font-size: $sub-menu-font-size;
      }
    }
    a{
      &:hover{
        border-bottom: 0px solid transparent !important;
      }
    }
  }
  li.current-menu-item, .current-menu-parent{
    top: 0px !important;

  }
  li.menu-item {
    font-family: $title-font-stack;
    float: left;
    padding: 0;
    top: $menu-pop;
    position: relative;
    transition: top 0.5s ease;
    &:hover{
      top: 0px;
    }

  }
  a {
    color: #fff;
    font-size: $menu-font-size;
    padding: 7px 15px 18px;
    text-transform: none;
  }
}

ul.sub-menu{
  transition: none !important;
  left: 0 !important;
  li{
    transition: none !important;
    top: 0px !important;
  }
}

.menu-toggle{
  color: $linkColour !important;
}

@if $theme == "psychology" {

  $psychology-menu-colour:  $psychology-green-darker;

  //psycholgy-menu
  .psychology-blog{
   li.menu-item:nth-of-type(1){
    background-color: $psychology-menu-colour;
    &:hover{
      background-color: $psychology-menu-colour / 0.9;
    }
    ul {
      background-color: $psychology-menu-colour /0.9;
      li{
        &:hover{
          background: $psychology-menu-colour;
        }
      }
    }
   }
   li.menu-item:nth-of-type(2){
    $psychology-menu-colour-2: $psychology-menu-colour / 0.95;

    background-color: $psychology-menu-colour-2;
    &:hover{
      background-color: $psychology-menu-colour-2 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-2 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-2;
        }
      }
    }
   }
   li.menu-item:nth-of-type(3){
    $psychology-menu-colour-3: $psychology-menu-colour / 0.9;

    background-color: $psychology-menu-colour-3;
    &:hover{
      background-color: $psychology-menu-colour-3 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-3 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-3;
        }
      }
    }
   }
   li.menu-item:nth-of-type(4){
    $psychology-menu-colour-4: $psychology-menu-colour / 0.85;

    background-color: $psychology-menu-colour-4;
    &:hover{
      background-color: $psychology-menu-colour-4 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-4 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-4;
        }
      }
    }
   }
   li.menu-item:nth-of-type(5){
    $psychology-menu-colour-5: $psychology-menu-colour / 0.8;

    background-color: $psychology-menu-colour-5;
    &:hover{
      background-color: $psychology-menu-colour-5 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-5 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-5;
        }
      }
    }
   }
   li.menu-item:nth-of-type(6){
    $psychology-menu-colour-6: $psychology-menu-colour / 0.75;

    background-color: $psychology-menu-colour-6;
    &:hover{
      background-color: $psychology-menu-colour-6 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-6 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-6;
        }
      }
    }
   }
   li.menu-item:nth-of-type(7){
    $psychology-menu-colour-7: $psychology-menu-colour / 0.7;

    background-color: $psychology-menu-colour-7;
    &:hover{
      background-color: $psychology-menu-colour-7 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-7 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-7;
        }
      }
    }
   }

   li.menu-item:nth-of-type(8){
    $psychology-menu-colour-8: $psychology-menu-colour / 0.65;

    background-color: $psychology-menu-colour-8;
    &:hover{
      background-color: $psychology-menu-colour-8 / 0.95;
    }
    ul {
      background-color: $psychology-menu-colour-8 /0.95;
      li{
        &:hover{
          background: $psychology-menu-colour-8;
        }
      }
    }
   }
    .entry-header{
      border-left: $title-border-left solid $psychology-green;
      a:hover{
        color: $psychology-green / 0.7;
      }
      .entry-title{
        a{
          color: $psychology-green;
          &:hover{
            color: $psychology-green / 0.7;
          }
        }
      }
    }
    .site-title > a {
      color: $psychology-green;
    }

    @media screen and (max-width: 1000px) {
      .sub-menu{
        background-color: transparent !important;
        li{
          background-color: transparent;
        }
        li.menu-item:nth-of-type(odd),li.menu-item:nth-of-type(even){
          background-color: transparent;
        }
      } 
    }
  }
}

