p, li, blockquote, span{
	font-family: $font-stack;
}

.entry-content{
  p, ul{
    font-size: $p-font-size;
    line-height: $p-line-height;
    margin-bottom: $p-margin-bottom;
  }
  li{
    margin-bottom: 0.5em;
  }
}

h1{
	font-family: $title-font-stack;
}

h1.site-title {
  font-size: 2.5em;
  margin-bottom: 0;
}

.site-description {
  line-height: 1;
  margin-bottom: 15px;
}